#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: fit-content;
	display: flex;
	float: center;
    justify-content: space-evenly;
	overflow: hidden;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
	background-color: rgb(78, 78, 78);
}

/* profile photo */
#profilephoto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
	left: 50%;
}

body {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(255, 250, 250);
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.intro{
	text-align: center;	
}

img{
	width: 250px;
	height: 250px;
	padding: 1em;
    object-fit: cover;
	align-items: center;
	border-color: #111;
	border-width: 1em;
	border: #111;
	border-radius: 50%;
}
.container{
	margin-bottom: 10em;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(0, 0, 0);
}

ol li {
	padding: 5px;
	margin-left: 35px;
}

* {
	box-sizing: border-box;
}


h1.titles{
	padding-top: 20px;

}
.column {
	float: left;
	padding: 10px;
}


.left {
	width: fit-content;
	height: fit-content;
}

.right {
	width: fit-content;
	height: fit-content;
}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.active {
	background-color: #053672;
}	




  
hr {
	border: 1px solid #706b6b;
	margin-bottom: 25px;
}