ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 20%;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  .active {
	background-color: #9a8cc7;
  }	
.navbar{
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8pt;
}

img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  }
  
  hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }